---
import Emoji from 'sukopon/astro/atoms/Emoji.astro';

import type Props from 'sukopon/types/components/atoms/AuthorName';

const { author, showEmojis = true } = Astro.props;
---

<a href={author.link} class='author-name-link'>
	<h2 class='author-name'>
		{author.name}
		{showEmojis && author.emojis.map((emoji) => <Emoji emoji={emoji} />)}
	</h2>
</a>
