---
import type Props from 'sukopon/types/components/atoms/Date';

const { comment } = Astro.props;
---

<a href={comment.url} class='date'>
	<time datetime={comment.date.toISOString()}>
		{comment.date.toLocaleDateString()}
	</time>
</a>
