---
import AuthorHandle from 'sukopon/astro/atoms/AuthorHandle.astro';
import AuthorName from 'sukopon/astro/atoms/AuthorName.astro';
import Avatar from 'sukopon/astro/atoms/Avatar.astro';
import Date from 'sukopon/astro/atoms/Date.astro';

import type Props from 'sukopon/types/components/Author';

const { comment } = Astro.props;
const { author } = comment;
---

<header class='author'>
	<Avatar author={author} />

	<div class='author-text'>
		<AuthorName author={author} />

		<div class='author-subheader'>
			<AuthorHandle author={author} />
			<Date comment={comment} />
		</div>
	</div>
</header>
