---
import Author from 'sukopon/astro/Author.astro';
import Content from 'sukopon/astro/atoms/Content.astro';
import NestedComments from 'sukopon/astro/NestedComments.astro';

import type Props from 'sukopon/types/components/Comment';

const { comment } = Astro.props;
---

<div class='comment'>
	<Author comment={comment} />
	<Content comment={comment} />
	<NestedComments comments={comment.comments} />
</div>
