---
import Comment from 'sukopon/astro/Comment.astro';

import type Props from 'sukopon/types/components/ManualComments';

const { data } = Astro.props;
---

<div class='comments'>
	{data.comments.map((comment) => <Comment comment={comment} />)}
</div>
<a class='original-post' href={data.link}>View original post</a>
