---
import Layer from 'sukopon/astro/atoms/Layer.astro';
import Comment from 'sukopon/astro/Comment.astro';

import type Props from 'sukopon/types/components/NestedComments';

const { comments } = Astro.props;
---

{
	!!comments.length && (
		<Layer>
			{comments.map((comment) => (
				<Comment comment={comment} />
			))}
		</Layer>
	)
}
