.comments {
	display: flex;
	gap: 24px;
	flex-direction: column;

	.comment {
		display: flex;
		gap: 8px;
		flex-direction: column;

		// Style the author header
		.author {
			display: flex;
			gap: 8px;

			.author-avatar {
				height: 48px;
				width: 48px;
				border-radius: 8px;
			}

			.author-text {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.author-name-link,
				.author-handle,
				.date {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				.author-name-link {
					color: black;

					.author-name {
						font-weight: bold;
						font-size: 1.25rem;
						margin: 0;
					}
				}

				.author-subheader {
					.author-handle,
					.date {
						color: hsl(0, 0%, 30%);
					}

					.author-handle::after {
						content: ' • ';
						user-select: none;
						margin: 0px 2px;
						color: hsl(0, 0%, 60%);
					}
				}
			}
		}

		// Style the content
		.content {
			p {
				margin: 0;
			}

			.mention {
				background-color: hsla(214, 79%, 47%, 0.2);
				color: hsl(214, 79%, 47%);
				padding: 2px 4px;
				border-radius: 4px;
			}

			a[href] {
				color: hsl(214, 79%, 47%);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

			// Mastodon-specific CSS
			.invisible {
				display: none;
			}
			.ellipsis::after {
				content: '\2026';
			}
		}
	}
}

.emoji {
	height: 16px;
	width: 16px;
	margin-left: 4px;
}

/* One nested layer. This will be stacked, so style accordingly */
.layer {
	display: flex;
	flex-direction: column;
	gap: 8px;

	border-left: 2px solid rgb(223, 223, 223);
	padding-left: 8px;
	margin-top: 4px;
}

.original-post {
	display: block;
	width: fit-content;
	margin: auto;
	margin-top: 24px;
	padding: 8px 16px;
	border-radius: 24px;
	color: hsl(214, 79%, 47%);
	background-color: hsla(214, 79%, 47%, 0.1);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&::after {
		content: ' ↗︎';
	}
}
